<form {{action "submitMessage" model on="submit"}}>
    {{mdl-textfield label='Title' value=model.title}}
    {{mdl-textfield label='Message' value=model.text}}
    <button type="submit" class="mdl-button" type="Submit">Submit</button>
</form>