@import "_color-definitions";

$color-primary: $palette-teal-500;
$color-accent: $palette-pink-A200;

@import "material-design-lite";

.signin-button-google {
  width: 191px;
  height: 46px;
  background: url('https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png') no-repeat;  
}