{{#if model}}
{{#mdl-card title=model.name}}
{{!--<h3>{{format-name model.name}}</h3>--}}
<div>email:{{format-text model.email}}</div>
<div>sex: {{format-text model.sex}}</div>
<img class='circle responsive-img' src='{{model.photo}}' width='150px'/><br/>
<inut type='hidden' name='token' value='{{model.token}}' /><br/>
<h3>Messages:</h3>
{{#each model.messages as |message|}}
  {{#link-to 'messages.message' message}}{{message.title}}{{/link-to}}<br/>
  {{else}}
   No any messages<br/>
{{/each}}
{{/mdl-card}}
{{/if}}