<h2>New message</h2>
{{!--{{message-input "createMessage" model}}--}}
<form {{action "updateMessage" model on="submit"}}>
    {{mdl-textfield label='Title' value=model.title}}
    {{mdl-textfield label='Message' value=model.text}}
    <button type="submit" class="mdl-button">Update message</button>
    <button class="mdl-button" {{action "cancelEditMessage" model}}>Cancel</button>
</form>