{{#if model}}
{{#mdl-card title=model.title}}
{{!--<h2>{{format-text model.title}}</h2>--}}
<h3>{{format-text model.text}}</h3>
<div>time: {{format-to-date model.time}}</div>
user: <!-- Numbers in badges -->
{{mdl-icon badge='1' icon='account_box'}}<br/>
{{#link-to 'users.user' model.user.id }}{{format-name model.user.name}}{{/link-to}}<br/>
<button class="mdl-button" {{action 'addBlahComment' model.id }}>Add blah-blah comment</button><br/>
{{#if model.comments}}
Comments:<\br>
{{#each model.comments as |comment|}}
<li>
<ul>{{comment.text}} 
<button class="mdl-button" {{action 'editComment' comment.id }}>Edit comment</button>
<button class="mdl-button" {{action 'deleteComment' comment.id }}>Delete comment</button></ul>
</li>
{{else}}
No any comments<br/>
{{/each}}
{{/if}}
{{/mdl-card}}
{{/if}}