<h2>New message</h2>
{{!--{{message-input "createMessage" model}}--}}
<form {{action "createMessage" model on="submit"}}>
    {{mdl-textfield label='Title' value=model.title}}
    {{mdl-textfield label='Message' value=model.text}}
    <button type="submit" class="mdl-button" type="Submit">Create message</button>
</form>