<h2>About Super Rentals</h2>

<p>The Super Rentals website is a delightful project created to explore Ember.
    By building a property rental site, we can simultaneously imagine traveling
    AND building Ember applications.</p>

{{#if session.isAuthenticated}}
   <p>Session is working</p>
   <p>{{log session.user.name}}</p>
   <button class="mdl-button" {{action 'logOut'}}>g+ sign out {{session.user.email}}</button><br/>
{{else}}
  <button class="mdl-button" {{action 'logIn'}}>g+ sign in</button><br/>
  {{!--<button class="signin-button-google" {{action 'logIn'}}></button>--}}
  <p>Session is not working</p>
  <p>{{error}}</p>
{{/if}}