{{#mdl-nav title='Ember wall'
  fixedHeader=true
  closeDrawerOnItemClick=true}}
  {{mdl-nav-item name="New message" route='messages.new'}}
  {{mdl-nav-item name='Messages' route='messages'}}
  {{mdl-nav-item name='Users'    route='users'}}
  {{mdl-nav-item name='About'    route='about'}}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col white-text">
 
      {{outlet}}
      
    </div>
  </div>
  
  <div class="flash-messages">
       {{#each flashMessages.queue as |flash|}}
       {{#flash-message class="navbar-fixed-bottom" flash=flash as |component flash|}}
        <p>{{flash.message}}</p>
        {{#if component.showProgressBar}}
            <div class="alert-progress">
                <div class="alert-progressBar" style="{{component.progressDuration}}"></div>
            </div>
        {{/if}}
      {{/flash-message}}
      {{/each}}
  </div>    
{{/mdl-nav}}
