{{outlet}}
<h2>Messages</h2>
<section>
  {{#each model as |message|}}
    {{#mdl-card title=message.title}}
  <div class="mdl-card__supporting-text">
     {{!--{{#link-to 'messages.message' message}} {{message.title}} {{/link-to}}<br/>--}}
     <p>{{message.text}}</p><br/>
     <button id='btn-edit' class="mdl-button" 
      {{action "editMessage" message}}>Edit</button>
     <button class="mdl-button" {{action "deleteMessage" message}}>Delete</button>
     <button class="mdl-button" {{action "detailsMessage" message}}>Details</button>
     ({{format-to-dt message.time}})<\br>
  </div>
{{/mdl-card}}

    {{else}}
        <div> List of messages is empty</div>
    {{/each}}
</section>


