<h2>List of users</h2>
<section>
    {{#each model as |user|}}
        <div>
         {{#link-to 'users.user' user}} {{format-name user.name}} {{/link-to}}<\br>
        </div>
        {{else}}
        <div> List of users is empty</div>
    {{/each}}
</section>

{{outlet}}